<section data-ng-controller="BillingsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Billings</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="billing in billings" data-ng-href="#!/billings/{{billing._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="billing.created | date:'medium'"></span>
				by
				<span data-ng-bind="billing.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="billing.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!billings.$resolved || billings.length">
    	No Billings yet, why don't you <a href="/#!/billings/create">create one</a>?
    </div>
</section>